/*Styling for Base Mode*/
#based-mode {
	text-align: center;
  	border: 3px solid green;
}

ul {
	list-style-type: none;
 	margin: 0;
 	padding: 0;
}

li {
	padding: 5px;
}
/*Styling for Stretch Mode*/
section {
	text-align: center;
}

#stretch-mode {
	display: grid;
	grid-template-columns: repeat(4, 50px);
	grid-template-rows: repeat(5, auto);
	grid-gap: 15px;
	justify-content: center;
}

.zero {
	grid-column: 1/3;
}

#expressionString {
	padding: 12px 20px;
	margin: 8px 0;
	font-size: 15px;
	grid-column: 1/5;
	border: 1px solid black;
	text-align: left;
}

button {
	background: green;
	border: none;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
}

/*Button Colors*/
.grey {
	background: #A9A9A9;
}

.light-grey {
	background: #696969;
}

.blue {
	background: #00CED1;
}







